body {
  overflow-x: hidden;
  background-color: #e9f7f7;
}

.navbar {
  background-color: #02f7f7;
  color: #fff;
}

.navbar a {
  color: white;
  font-family: 'Courgette', cursive;
  letter-spacing: 1px;
}
.jumbotron {
  padding: 80px;
  margin-top: 55px;
  background-color: #18eded;
  color: white;
  font-family: 'Titan One', cursive;
}

.jumbotron h1 {
  animation: text-focus-in 1s 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-animation: text-focus-in 1s 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.jumbotron p {
  animation: text-focus-in 1s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-animation: text-focus-in 1s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.materi h1 {
  margin-top: 50px;
  text-shadow: 0 0 5px white, 0 0 5px #04c7b3, 0 0 5px #04dbc6, 0 0 5px #05e8d1;
  font-family: 'Courgette', cursive;
  letter-spacing: 1px;
  margin-bottom: 30px;
  animation: text-focus-in 1s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-animation: text-focus-in 1s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.card {
  margin-bottom: 10px;
}

.card .judul {
  font-family: 'Titan One', cursive;
  color: rgb(22, 21, 21);
}
.card .isi {
  font-family: 'Neucha', cursive;
  font-size: 1.1rem;
  color: rgb(22, 21, 21);
  letter-spacing: 1px;
}

.card a {
  background-color: #03d8c3;
  color: white;
  font-family: cursive;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.card a:hover {
  transform: scale(1.05);
  background-color: #06f0d8;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* .card a:active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
} */

.isi2 {
  font-family: 'Neucha', cursive;
  font-size: 1.1rem;
}
.card {
  animation: bounce-in-top 1.1s 2.5s both;
  -webkit-animation: bounce-in-top 1.1s 2.5s both;
}

footer {
  background-color: #02f7f7;
}
/* Font */
@font-face {
  font-family: 'Titan One', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Neucha', cursive;
}

@keyframes myAnimation {
  0% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #c17716, 0px 0px 6px #eab114, 0px 0px 6px #fbc40e, 0px 0px 6px #ffd000;
  }
  10% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #028f4d, 0px 0px 6px #039b54, 0px 0px 6px #04b864, 0px 0px 6px #06b463;
  }
  20% {
    box-shadow: 0px 0px 6px #ffffff, 0px 0px 6px #0101a3, 0px 0px 6px #0303c2, 0px 0px 6px #0404db, 0px 0px 6px #0202ff;
  }
  30% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #b84b03, 0px 0px 6px #c55002, 0px 0px 6px #dd5a02, 0px 0px 6px #dd5b04;
  }
  40% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px rgb(2, 184, 168), 0px 0px 6px rgb(3, 206, 189), 0px 0px 6px rgb(4, 226, 208), 0px 0px 6px rgb(3, 248, 228);
  }
  50% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #a103af, 0px 0px 6px #b503c5, 0px 0px 6px #ce04e0, 0px 0px 6px #e907fd;
  }
  60% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #c99b03, 0px 0px 6px #daa803, 0px 0px 6px #e9b405, 0px 0px 6px #ffc402;
  }
  70% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #5b04cc, 0px 0px 6px #6405e0, 0px 0px 6px #6b05f0, 0px 0px 6px #7005fc;
  }
  80% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #b3020b, 0px 0px 6px #ca030d, 0px 0px 6px #e4030f, 0px 0px 6px #fc0511;
  }
  90% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #0277c5, 0px 0px 6px #0280d4, 0px 0px 6px #048ae4, 0px 0px 6px #0296f8;
  }
  100% {
    box-shadow: 0px 0px 6px #fff, 0px 0px 6px #c90370, 0px 0px 6px #dd037b, 0px 0px 6px #ee0485, 0px 0px 6px #ff028d;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
/*------- for more tutorials visit www.twoclock.com*/
